<footer>
    <div class="links">
        <section class="contenido-footer">
            <h4>Companía</h4>
            <p>Enlaces o referencias</p>
        </section>
        <section class="contenido-footer">
            <h4>Comunidad</h4>
            <p>Enlaces o referencias</p>
        </section>
        <section class="contenido-footer">
            <h4>Enlaces útiles</h4>
            <p>Enlaces o referencias</p>
        </section>
        <section class="contenido-footer">
            <h4>Aplicación</h4>
            <p>Enlaces o referencias</p>
        </section>
    </div>
    <div class="ending">
        <img src="/Images/lgo_simple.svg" class="logo">
        <section class="opciones">
            <div class="social-media">
                <button class="btn" id="facebook>"><i class="fab fa-facebook"></i></button>
                <button class="btn" id="instagram"><i class="fab fa-instagram"></i></button>
                <button class="btn" id="linkedin"><i class="fab fa-linkedin"></i></button>
                <button class="btn" id="twitter"><i class="fab fa-twitter"></i></button>
                <button class="btn" id="youtube"><i class="fab fa-youtube"></i></button>
            </div>
            <form method="get">
                <label for="moneda">Moneda</label>
                <select name="moneda" placeholder="Moneda">
                <option value="Pesos">Pesos(Arg)</option>
                <option value="Dolares">Dólares(US)</option>
                <option value="Yenes">Yenes(JP)</option>
            </select>
            </form>
            
        </section>
    </div>
</footer>