<header>
    <div class="complet-nav">
        <div class="logo">
            <picture class="logo-lg">
                <a href="/"><img class="lgo-simple" src="/Images/lgo_simple.svg" alt="Logo de marca"></a>
            </picture>
        </div>
        <nav class="header-nav">
            <form class="form" action="/buscar" method="get" id="inputSearch">
                <!-- <input type="text" name="palabraBuscada" class="input" placeholder="Que vas a aprender hoy?"><br> -->
                <input type="text" class="input" name="palabraBuscada" placeholder="Que vas a aprender hoy"><br>
                <button type="submit" class="submit"><i class="fas fa-search"></i></button>
                <!-- <input type="submit" value="Crear" class="button"> -->
            </form>
            <div class="contein-user-nav">
                <ul class="user-nav">
                    <li>
                        <a href="/productos" class="header-bottom">
                            <img src="/Images/Iconos/bxs-collection.svg">
                        </a>
                    </li>
                    <li>
                        <a href="/" class="header-bottom">
                            <img src="/Images/Iconos/campana.svg">
                        </a>
                    </li>
                    <li>
                        <a href="/carrito" class="header-bottom">
                            <img src="/Images/Iconos/bx-cart.svg">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header-user">
                <a href="/usuario/login"><img src="/Images/Iconos/bx-user-circle.svg"></a>
            </div>
        </nav>
    </div>
</header>