<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <section>
        <img class="slide" src="/Images/banner.jpg" width="100%">
        <!--
        <div class="carrusel" width="100%">
            <div class="mySlides fade">
                <img class="slide" src="/Images/carrusel1.jpg" width="100%">
                <div class="tituloCarrusel">Aprendé a tu manera desde donde estés</div>
            </div>
            <div class="mySlides fade">
                <img class="slide" src="/Images/carrusel2.jpg" width="100%">
                <div class="tituloCarrusel">Próximamente: Pastelería nivel 1</div>
            </div>
            <div class="mySlides fade">
                <img class="slide" src="/Images/carrusel3.jpg" width="100%">
                <div class="tituloCarrusel">Que tu pasión por aprender te guíe</div>
            </div>
        </div>
        <a class="btn-prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="btn-next" onclick="plusSlides(1)">&#10095;</a>
        <div style="text-align: center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    -->
    </section>
    <main>
        <h1>Cursos Recomendados</h1>
        <section>
            <article>
                    <img src="/Images/bordado.jpg" width="100%" alt="Bordado">
                    <div class="course-card">
                        <h3>Bordado a mano nivel 1</h3>
                        <div>
                            <p>Profesor/es</p>
                            <div class="media">
                                <i class="fas fa-file-alt"></i>
                                <i class="fas fa-headphones"></i>
                                <i class="fas fa-video"></i>
                            </div>
                        </div>
                        <p>Precio</p>
                    </div>
                    <div class="buttons">
                        <button class="add"><i class="fas fa-cart-plus"></i></button>
                        <button class="buy">Comprar</button>
                    </div>
            </article>
            <article>
                    <img src="/Images/camera.jpg" width="100%" alt="Fotografía">
                    <div class="course-card">
                        <h3>Fotografía profesional</h3>
                        <div>
                            <p>Profesor/es</p>
                            <div class="media">
                                <i class="fas fa-file-alt"></i>
                                <i class="fas fa-headphones"></i>
                                <i class="fas fa-video"></i>
                            </div>
                        </div>
                        <p>Precio</p>
                    </div>
                    <div class="buttons">
                        <button class="add"><i class="fas fa-cart-plus"></i></button>
                        <button class="buy">Comprar</button>
                    </div>
            </article>
            <article>
                    <img src="/Images/scrum.jpg" width="100%" alt="Metodología">
                    <div class="course-card">
                        <h3>Metodología scrum</h3>
                        <div>
                            <p>Profesor/es</p>
                            <div class="media">
                                <i class="fas fa-file-alt"></i>
                                <i class="fas fa-headphones"></i>
                                <i class="fas fa-video"></i>
                            </div>
                        </div>
                        <p>Precio</p>
                    </div>
                    <div class="buttons">
                        <button class="add"><i class="fas fa-cart-plus"></i></button>
                        <button class="buy">Comprar</button>
                    </div>
            </article>
            <article>
                    <img src="/Images/costura.jpg" width="100%" alt="Costura">
                    <div class="course-card">
                        <h3>Costura nivel 1</h3>
                        <div>
                            <p>Profesor/es</p>
                            <div class="media">
                                <i class="fas fa-file-alt"></i>
                                <i class="fas fa-headphones"></i>
                                <i class="fas fa-video"></i>
                            </div>
                        </div>
                        <p>Precio</p>
                    </div>
                    <div class="buttons">
                        <button class="add"><i class="fas fa-cart-plus"></i></button>
                        <button class="buy">Comprar</button>
                    </div>
            </article>
            <article>
                    <img src="/Images/drink.jpg" width="100%" alt="Bebida">
                    <div class="course-card">
                        <h3>Tragos con y sin alcohol</h3>
                        <div>
                            <p>Profesor/es</p>
                            <div class="media">
                                <i class="fas fa-file-alt"></i>
                                <i class="fas fa-headphones"></i>
                                <i class="fas fa-video"></i>
                            </div>
                        </div>
                        <p>Precio</p>
                    </div>
                    <div class="buttons">
                        <button class="add"><i class="fas fa-cart-plus"></i></button>
                        <button class="buy">Comprar</button>
                    </div>
            </article>
            <article>
                    <img src="/Images/selfie.jpg" width="100%" alt="Autorretrato">
                    <div class="course-card">
                        <h3>Autorretratos fotográficos</h3>
                        <div>
                            <p>Profesor/es</p>
                            <div class="media">
                                <i class="fas fa-file-alt"></i>
                                <i class="fas fa-headphones"></i>
                                <i class="fas fa-video"></i>
                            </div>
                        </div>
                        <p>Precio</p>
                    </div>
                    <div class="buttons">
                        <button class="add"><i class="fas fa-cart-plus"></i></button>
                        <button class="buy">Comprar</button>
                    </div>
            </article>
            <article>
                    <img src="/Images/ted-talk.jpg" width="100%" alt="Discurso">
                    <div class="course-card">
                        <h3>Preparación de discursos y exposiciones</h3>
                        <div>
                            <p>Profesor/es</p>
                            <div class="media">
                                <i class="fas fa-file-alt"></i>
                                <i class="fas fa-headphones"></i>
                                <i class="fas fa-video"></i>
                            </div>
                        </div>
                        <p>Precio</p>
                    </div>
                    <div class="buttons">
                        <button class="add"><i class="fas fa-cart-plus"></i></button>
                        <button class="buy">Comprar</button>
                    </div>
            </article>
            <article>
                    <img src="/Images/virtualidad.jpg" width="100%" alt="Virtualidad">
                    <div class="course-card">
                        <h3>Preparación de clases virtuales</h3>
                        <div>
                            <p>Profesor/es</p>
                            <div class="media">
                                <i class="fas fa-file-alt"></i>
                                <i class="fas fa-headphones"></i>
                                <i class="fas fa-video"></i>
                            </div>
                        </div>
                        <p>Precio</p>
                    </div>
                    <div class="buttons">
                        <button class="add"><i class="fas fa-cart-plus"></i></button>
                        <button class="buy">Comprar</button>
                    </div>
            </article>
            <article>
                    <img src="/Images/watercolor.jpg" width="100%" alt="Acuarela">
                    <div class="course-card">
                        <h3>Técnicas básicas con acuarela</h3>
                        <div>
                            <p>Profesor/es</p>
                            <div class="media">
                                <i class="fas fa-file-alt"></i>
                                <i class="fas fa-headphones"></i>
                                <i class="fas fa-video"></i>
                            </div>
                        </div>
                        <p>Precio</p>
                    </div>
                    <div class="buttons">
                        <button class="add"><i class="fas fa-cart-plus"></i></button>
                        <button class="buy">Comprar</button>
                    </div>
            </article>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>