/* Estilos recomendaciones de cursos */

.delete-box {
    display: flex;
    width: 100%;
}

.lista-delete{
    list-style: none;
}

.delete-indiv {
    display: flex;
    margin: 15px 0;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}

.miniatura-curso {
    overflow: hidden;
    width: 20%;
}
.imagen-miniatura {
    width: 100%;
}

.delete-detalles {
    width: 60%; 
    margin-left: 15px;
}

.delete-detalles_titulo1 {
    font-size: var(--text-lg);
    font-weight: bold;
}

.delete-detalle_puntuaciones {
    display: flex;
    align-self: center;
    background-color: var(--gris-oscuro);
    border-radius: 5px;
    padding: inherit;
    margin-top: 3%;
}

.delete-detalle_puntuaciones_alumnos {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 5px;
    width: 15%;
}

.delete-detalle_puntuaciones_calificacion-box {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.delete-detalle_puntuaciones_alumnos_cifra {
    margin-left: 5px;
}

.delete-detalle_puntuaciones_calificacion_cifra {
    margin-left: 5px;
}



.delete_main {
    display: flex;
    flex-direction: row;
}

.delete_lefth {
    display: flex;
    background-color: var(--celeste);
    height: 100vh;
    width: 50vw;
    justify-content: center;
}
.delete_logo {
    width: 100%;
    height: 100%;
}

.delete_rigth {
    padding: 50px 35px;
    width: 50%;
}
.delete_title {
    font-size: 30px;
}

.delete_form-campo {
    padding: 11px 0;
}
.delete_label {
    text-align: right;
}

.delete_input {
    background: var(--blanco);
    border: 0;
    color: inherit;
    font: inherit;
    font-size: var(--text);
    line-height: normal;
    width: 100%;
    height: 30px;
    overflow: visible;
    padding: 5px 5px;
    border-radius: 5px 0 0 5px;
    background: #F7F7F7;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.delete_ctn-botones{
    display: flex;
    justify-content: space-between;
}

.delete_sec-botones {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.delete_boton-delete{
    font-size: var(--title);
    font-weight: 500;
    display: flex;
    justify-content: center;
    background-color: var(--amarillo);
    border: 0;
    border-radius: 5px;
    font-weight: normal;
    padding: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.delete_boton-borrar{
    font-size: var(--title);
    font-weight: 500;
    display: flex;
    justify-content: center;
    background-color: var(--rojo);
    border: 0;
    border-radius: 5px;
    font-weight: normal;
    padding: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

