.top-editar {
    margin-top: 150px;
}

.editar_tituloInfo {
    padding-left: 1.5%;
}
.editar_tituloPrincipal {
    padding-left: 3.8%;
}

.main-general-bajo-header {
    width: 90%;
    margin: 0 auto;
    background-color: var(--gris-claro);
}


.main-general-bajo-header form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-general-bajo-header form div {
    width: 95%;
    margin: 0.5rem;
    padding: 0.5rem;
}

.description-edit input, .price-edit input {
    border: var(--gris-claro);
    margin: 0.5rem;
    padding: 5px;
    border-radius: 5px;
    width: 380px;
}

.description-edit input, .description-edit textarea {
    width: inherit;
}

.editar_imagenPrevia {
    width: 20%;
    display: block;
    padding-bottom: 10px;
}

.editar_tituloImagenP {
    display: none;
}

.category-edit {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
    max-width: 520px;
}

.category-edit input {
    margin: 1rem;
    padding: 1rem;
}

.multimedia-edit {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
}

.multimedia-edit input {
    margin: 1rem;
    padding: 1rem;
}

.editBtn {
    display: flex;
    max-width: 400px;
}

.button {
    width: 45%;
    border: var(--celeste);
    border-radius: 5px;
    color: var(--violeta);
    font-weight: bold;
    background-color: var(--celeste);
    padding: 0.5rem;
    margin: 0.5rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: var(--amarillo);
}

.erroresEdit .editar-errorList {
    color: red;
}


.editar_errores {
    color: var(--rojo);
    list-style: none;
    padding-left: 20px !important;
}

@media (max-width: 760px) {
    .description-edit input, .price-edit input, .button {
        width: 360px;
    }
}

@media (max-width: 360px) {
    .category-edit {
        flex-direction: column;
    }
    .multimedia-edit {
        flex-direction: column;
    }
    .editBtn {
        flex-direction: column;
    }
    .description-edit input, .price-edit input, .button {
        width: 250px;
    }
}